
<input type="checkbox">
<div class="navbar">
    <nav>
        <div class="nav-items">
            <div class="nav-item">
                <div class="item-profile">
                    <div class="profile-image">
                        <img width="50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/640px-Telegram_2019_Logo.svg.png"
                            alt="">
                    </div>
                    <div class="profile-body">
                        <h3>Samandar</h3>
                        <p class="cloudy">+998 97 490 89 57</p>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <i style="background-color: #30a3e6;" class="fa-solid fa-user-group"></i>
                News Group
            </div>
            <div class="nav-item">
                <i style="background-color: #ed9f20;" class="fa-solid fa-tv"></i>
                News Chennel
            </div>
            <div class="nav-item">
                <i style="background-color: #f06964;" class="fa-solid fa-address-book"></i>
                Contact
            </div>
            <div class="nav-item">
                <i style="background-color: #6dc534;" class="fa-solid fa-phone"></i>
                Calls
            </div>
            <div class="nav-item">
                <i style="background-color: #30a3e6;" class="fa-solid fa-bookmark"></i>
                Saved Messages
            </div>
            <div class="nav-item">
                <i style="background-color: hsl(272deg 63% 69%);" class="fa-solid fa-gear"></i>
                Settings
            </div>
            <div class="nav-item">
                <i style="background-color: hsl(226deg 100% 73%);" class="fa-solid fa-moon"></i>
                Night Mode
            </div>
        </div>
    </nav>
</div>
<div class="darker">
    
</div>