$primary-color:#30a3e6;
$warning-color:#ed9f20;
$danger-color:#f06964;
$success-color:#6dc534;
$ink:hsl(272deg 63% 69%);
$blue:hsl(226deg 100% 73%);


$color:hsl(0deg 0% 13%);

$shadow-color:#f1f1f1;
$cloudy:hsl(0deg 0% 73%);
.cloudy{
    color: hsl(0deg 0% 73%);
}