.message{
    right: 0;
    position: absolute;
    top: 0;
    width: 65%;
    height: 100vh;
    .message-header{
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-actions{
            i{
                cursor:pointer;
                display: inline-block;
                margin: 12px;
            }
        }
    }
    .context{
        overflow-y: auto;

    }
    .message-content{
        background-repeat: no-repeat;
        height: 84vh;
        width: 100%;
        background-image: linear-gradient(145deg,hsl(134deg 22% 63%),hsl(71deg 42% 68%));
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .msg{
            margin: 2px 12px;
            max-width: 400px;
            display: inline;
            background-color: white;
            padding: 12px;
            border-radius: 12px;
            position: relative;
        }
        .me{
            align-self: flex-end;
            &::after{
                border-radius: 0px 10px 5px 0px;
                display: inline-block;
                position: absolute;
                right: -7px;
                bottom: 2px;
                width: 12px;
                height: 12px;
                background-color: white;
                content: "";
            }
        }
        .he{
            align-self: flex-start;
            &::before{
                border-radius: 29px 0px 0px 5px;
                display: inline-block;
                position: absolute;
                left: -7px;
                bottom: 2px;
                width: 12px;
                height: 12px;
                background-color: white;
                content: "";
            }
        }
    }
    .sender{
        padding: 6px 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        i{
            cursor: pointer;
        }
        img{
            width: 32px;
            display: inline-block;
            cursor: pointer;
        }
        input{
            padding: 12px 24px;
            width: 100%;
            outline: none;
            border: none;
        }
    }
}