<div class="message">
    <div class="message-header">
        <div class="header-details">
            <h3>+99892341289</h3>
            <p class="cloudy">last seen 8 hour ago</p>
        </div>
        <div class="header-actions">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-phone"></i>
            <i class="fa-solid fa-note-sticky"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </div>
    <div class="message-content">
        <div class="msg" [ngClass]="message?.mode == 0?'me':'he'" *ngFor="let message of messages$ |async">
            {{message.message}}
        </div>
    </div>
    <div class="sender">
        <i class="fa-regular fa-face-smile"></i>
        <input [(ngModel)]="message" placeholder="Write a message" type="text">
        <img (click)="sendMessage()" src="https://img.icons8.com/color/32/000000/filled-sent.png"/>
    </div>
</div>